.header_container{
    background-color: #3F0E40;
    height:110px;
    color:#fff;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 4%;

}

.search_user{
    display:flex;

}


.search_box {
    margin-right: 15px;
}

.search_box form input[type="text"] {
    padding: 10px 25px;
    border: none;
    border-radius: 3px 0px 0px 3px;
}

.search_box form button {
    padding: 10px 25px;
    border: none;
    color: #3F0E40;
    background: #f5f5f5;
}