.texts{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
}

.table{
    padding: 15px 5px;
    font-family: 'Poppins', sans-serif !important;

}

.heading{
    font-weight:700 !important; 
}

.table th, .table th tr, .table th tr td{
    font-family: 'Poppins', sans-serif !important;
}
.tdata td{
    font-family : 'Poppins',sans-serif !important;
}